<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
        'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <title>Заявка на звонок</title>
</head>
<body bgcolor='#f5f5f5'
      style='margin:0; padding:0; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none;'>
    <div>
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td align='center' bgcolor='#f4f5f5'
                    style='margin:0; padding:0; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none;'>
                    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                        <tr>
                            <td>
                                <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                    <tr>
                                        <td align='center'>
                                            <table width='580' border='0' cellspacing='0'
                                                   cellpadding='0'>
                                                <tr>
                                                    <td align='center'
                                                        style='font-family:arial,sans-serif; font-size:11px; line-height:15px; color:#989897; height:30px;'>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align='center'>
                                            <table border='0' cellspacing='0' cellpadding='0'>
                                                <tr>
                                                    <td bgcolor='#ffffff'>
                                                        <table width='600' border='0' cellspacing='0'
                                                               cellpadding='0'>
                                                            <tr>
                                                                <td>
                                                                    <table width='100%' border='0'
                                                                           cellspacing='0'
                                                                           cellpadding='0'>
                                                                        <tr>
                                                                            <td style='vertical-align:top;'>
                                                                                <table width='100%'
                                                                                       border='0'
                                                                                       cellspacing='0'
                                                                                       cellpadding='0'>
                                                                                    <tr>
                                                                                        <td style='background-color:#666; height:50px; padding-left: 20px; font-size:18px; font-weight: bold; font-family:arial,sans-serif; line-height:20px; color:#ffffff;'>
                                                                                            {{ title }}
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                                                                        <tr>
                                                                            <td align='left' style='font-size: 14px; font-family: Arial, sans-serif; line-height: 20px; color: #555555; vertical-align:bottom; font-weight:normal; padding-left: 20px; padding-right: 20px; padding-top: 10px;'>
                                                                                {% for key, field in fields %}
                                                                                    <p style='font-size:18px; color:#666; font-weight:bold;'>{{ key }}</p>
                                                                                    {% for subkey, subfield in field %}
                                                                                        <p style='font-size:14px; color:#555555; width: 560px'>
                                                                                            <span style=' font-weight:bold;'>{{ subkey }}: </span>
                                                                                            {% if subfield is iterable %}
                                                                                                {% for item in subfield %}
                                                                                                    <br><span>{{ item }};</span>
                                                                                                {% endfor %}
                                                                                            {% else %}
                                                                                                <span>{{ subfield }}</span>
                                                                                            {% endif %}
                                                                                        </p>
                                                                                    {% endfor %}
                                                                                {% endfor %}
                                                                                <p align='center' style='font-size:14px; color:#a5b1ca; font-weight:normal;'>iSmart</p>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height='30px'></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
